<form [formGroup]="storeForm" novalidate>
  <mat-form-field>
    <input matInput placeholder="Store Name" formControlName="storeName" required>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit" (click)="addStore()">Add Store</button>
    <button mat-raised-button color="accent" type="reset">Clear</button>
  </div>

</form>
<h3>List of Stores already Added: </h3>
<ol>
  <li *ngFor="let biller of stores | async">
    {{ biller.storeName }}
  </li>
</ol>