.example-button-row button{
  margin-right: 8px;
}
.mrg15{
  margin:15px;
}
.width100{
  width: 100% !important;
}
.warn{
  color:red;
}
.mrgTop15{
  margin-top:15px;
} 
.mrgBtm15{
  margin-bottom: 15px;
}
.mat-grid-tile.align-right ::ng-deep .mat-figure{
  justify-content: flex-end;
}
.mat-grid-tile.align-left ::ng-deep .mat-figure{
  justify-content: flex-start;
}
.mat-header-row{
  background-color: lightblue;
}

.mat-footer-row{
  background-color: antiquewhite;
}