<div class="mrg15">
  <p color="warn">{{errorLog}}</p>
  <form [formGroup]="billForm" novalidate class="mrg15">
    <mat-grid-list cols="1" rowHeight="65px" gutterSize="10px">

      <mat-grid-tile colspan="1">
        <mat-form-field class="width100">
          <input matInput [matDatepicker]="picker" placeholder="Bill Date" formControlName="billDate" autocomplete="off"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field class="width100">
          <mat-select placeholder="Bill Category" formControlName="billCategory" required>
            <mat-option *ngFor="let category of billCategories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field class="width100">
          <mat-select placeholder="Store Name" formControlName="storeName" required>
            <mat-option *ngFor="let store of stores" [value]="store.viewValue">
              {{store.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field class="width100">
          <input matInput type="number" placeholder="bill Amount" formControlName="billAmount" required>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <mat-form-field class="width100">
          <mat-select placeholder="Bill Paid By" formControlName="payMedium" required>
            <mat-option *ngFor="let medium of billMedium" [value]="medium.viewValue">
              {{medium.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="55px" gutterSize="10px">
      <mat-grid-tile colspan="1">
        <div class="example-button-row">
          <button mat-raised-button color="primary" (submit)="addBill()">Save Bill</button>
          <button mat-raised-button color="accent" type="reset">Clear</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </form>

  <h3>List of bills already Added: </h3>

  <table mat-table [dataSource]="bills" class="width100">
    <ng-container matColumnDef="billDate">
      <th mat-header-cell *matHeaderCellDef> Bill Date </th>
      <td mat-cell *matCellDef="let element"> {{element.billDate.toDate() | date : 'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="billCategory">
      <th mat-header-cell *matHeaderCellDef> billCategory </th>
      <td mat-cell *matCellDef="let element"> {{element.billCategory}} </td>
    </ng-container>
    <ng-container matColumnDef="storeName">
      <th mat-header-cell *matHeaderCellDef> storeName </th>
      <td mat-cell *matCellDef="let element"> {{element.storeName}} </td>
    </ng-container>
    <ng-container matColumnDef="billAmount">
      <th mat-header-cell *matHeaderCellDef> billAmount </th>
      <td mat-cell *matCellDef="let element"> {{element.billAmount}} </td>
    </ng-container>
    <ng-container matColumnDef="payMedium">
      <th mat-header-cell *matHeaderCellDef> payMedium </th>
      <td mat-cell *matCellDef="let element"> {{element.payMedium}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>